*{
    padding: 0%;
    margin:0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    justify-content: space-between;
    display:flex;
    text-decoration: none;
    position: sticky;
    top: 0;
    left: 0;
    background:rgba(213, 201, 201, 0.7);
    backdrop-filter: blur(7px);
}
.compney{
    font-size: 50px;
    color:#0f0f0f;
    align-self: center;
    margin-left: 180px;
}
.compneyname{
    margin-top: 13px;
}
.compneyname a{ 
    text-decoration: none;
    list-style: none;
    padding: 0px 10px;
    font-size: 18px;
    color: black;
    margin-top: 50px;
}
.compneyname :hover{
    color:#FF407D
}
.loginbutton:hover{
background-color: rgb(224, 78, 45);
color: white;
}
.loginbutton{
    border-radius:  6px;
    height: 23px;
    width: 80px;
}
.headimage{
    height: 50px;
    border: 3px solid rgb(43, 199, 193);
    border-radius: 10px;
    margin-left: 5px;
}
.head{
    text-align: center;
    color: aliceblue;
    background-color: #5356FF;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mainimg{
    width: 650px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.job{
    color: aqua;
}
.rose{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore{
    margin-top: 30px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight:bold;

}
.explore:hover {
    background-color:greenyellow;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p,h1{
    margin-top: 30px;
}
.desktopimg{
height: 400px;
width: 400px;
border-radius: 8px;
margin-top: 10PX;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.discription{
    margin-top: 170px;
    font-size: 50px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec1{
    padding: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #DFF5FF;
}
.sec2{
    display: flex;
    justify-content: space-around;
    background-color:#378CE7;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
.sec3{
    padding: 80px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #05192d, rgb(16, 22, 47));
}
span{
    color:tomato;
}
.works{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.achive{
    background-color: #FF407D;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.projects{
    background-color: #378CE7;
    border-radius: 3px;
}
.carrer{
    background-color: chartreuse;
    border-radius: 3px;
}
.courses{
    background-color: darkorange;
    border-radius: 3px;
}
.pathname{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pathbox{
    display: flex;
}
.sec4{
    padding: 60px;
    background-color: #8BC6EC;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
}
.vidimg{
    height: 250px;
    width: 350px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.learn{
    margin-top: 10px;
    margin-left: 90px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight:bold;
}
.learn:hover {
    background-color:greenyellow;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.comfort{
    margin-top: 0%;
    background-color:#5356FF;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footersubmit{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footersubmit a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
ul a:hover{
    color: #378CE7;
}
.sociallinks {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #05192d;
}
.fb{
    height: 32px;
    width: 30px;
}
.twi{
    height: 31px;
    width: 30px;
}
.insta{
    height: 46px;
    width: 43px;
    margin-top: -4px;
}
.wp{
    height: 30px;
    width: 29px;
}
.follow{
    text-align: center;
    margin-top: 30px;
}
.copy{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fb .insta .twi .wp {
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.footercol a{
    text-decoration: none;
    color:black;
}
*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width: 768px) {
    .sec1{
        display: flex;
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paths p{
        font-size: 15px;
        text-align: left;
    }
    .sec1 img{
        height: 300px;
        width: 320px;
    }
    header img{
        height: 50px;
    }
    .compneyname{
        display: inline;
        font-size: 15px;
    }
    .explore{
        margin-left: 0px;
    }
    .discription{
        margin-top: 10px;
    }
    .head{
        font-size: 30px;
    }
    .mainimg{
        height: 300px;
        width: 300px;
    }
    .sec2{
        display: flex;
        flex-direction: column;
    }
    .sec2 p{
        font-size: 25px;
        text-align: left;
    }
    .sec2 span{
        font-size: 30px;
        color: #DFF5FF;
        text-align: left;
    }
    .sec2 h1{
        font-size: large;
        text-align: left;
    }
    .sec2 img{
        height: 350px;
        width: 350px;
    }
    .sec3 , .sec4{
        display: flex;
        flex-direction: column;
    }
    .sec3{
        padding: 20px;
    }
    .works h1{
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    .card p{
        font-size: 25px;
        text-align: center;
    }
    .sec4{
        padding: 20px;
    }
    .sec4 img{
        width: 300px;
    }
    .card{
        margin-bottom: 30px;
    }
    .footersubmit{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    *{
        align-items: center;
    }
    
}