*{
    padding: 0%;
    margin:0px;
}
header{
    justify-content: space-between;
    display:flex;
    text-decoration: none;
    position: sticky;
    top: 0;
    left: 0;
    background-color:rgb(58, 209, 229);
    border-radius: 2px;
    background:rgba(213, 201, 201, 0.7);
    backdrop-filter: blur(7px);
}
.compney{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#0f0f0f;
    align-self: center;
    margin-left: 180px;
}
.compneyname{
    margin-top: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.compneyname a{ 
    text-decoration: none;
    list-style: none;
    padding: 0px 10px;
    font-size: 18px;
    color: black;
    margin-top: 50px;
}
.compneyname :hover{
    color:#FF407D
}
.loginbutton:hover{
background-color: rgb(224, 78, 45);
color: white;
}
.loginbutton{
    border-radius:  6px;
    height: 23px;
    width: 80px;
}
.headimage{
    height: 50px;
    border: 3px solid rgb(43, 199, 193);
    border-radius: 10px;
    margin-left: 5px;
}
.r{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 6px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 200px;
    width: 300px;
    transition: 0.6s;
    border: none;
    transition: transform .5s;
}
ul{
    list-style-type: none;
}
ul a:hover{
    color: #378CE7;
}
.r:hover{
    transition: 0.3s ease-in ;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}
.top{
    background: linear-gradient(to right, red , blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    margin-top: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section2{
    padding: 30px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.car{
    height: 525px;
    width: 590px;
    border-radius: 5px;
}
.hlo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, red , blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
ul{
    list-style-type: none;
}
ul a{
    color: #0f0f0f;
}
span{
    color: #FF407D;
}
.select{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 200px;
}
.container{
    gap: 2.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
hr{
    margin-top: 30px;
}
.footersubmit{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footersubmit a{
    text-decoration: none;
}
.sociallinks{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fb{
    height: 32px;
    width: 30px;
}
.twi{
    height: 31px;
    width: 30px;
}
.insta{
    height: 46px;
    width: 43px;
    margin-top: -4px;
}
.wp{
    height: 30px;
    width: 29px;
}
.follow{
    text-align: center;
    margin-top: 30px;
}
.copy{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 768px){
    header img{
        width: 110px;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .compneyname a{
        padding: 5px;
    }
    .compneyname{
        display: inline;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .car{
        height: 400px;
        width: 300px;
    }
    .section2 h1{
        margin-top: 10px;
    }
    .footersubmit{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}